:root{
    --main-color: none;
}

h1{
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0px;

    width: 100%;
}

footer p{
    padding: 5px;
    margin: 5px;
}